<%= render 'design' %>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>


<h1 id = "listing">Home Page</h1>
<%= link_to 'Game Posts', controller: 'posts', id: "posts" %>