<head>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<header>
    
   
   <!-- <%= image_tag "banner.png" , :id => "banner" %>-->  
   
   
   <h1 id = "banner">GAME TOGETHER</h1>
</header>
<body>
    
    <%= image_tag "videogame.png" , :id => "videogame" %>
    
</body>
